<% layout("/layouts/boilerplate") %>

<div class="row-sm-1 offset-3 mt-5 row-sm-8 col-6">
    <div class="alert alert-danger" role="alert">
      <p class="alert-heading" style="display: flex;justify-content: center; align-items: center;"><%= message %></p>

      </div>
</div>